apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: analytics-operator
  namespace: {{ include "controller_ns" . }}
rules:
- apiGroups: ["apiextensions.k8s.io"]
  resources: ["customresourcedefinitions"]
  verbs: ["create"]
- apiGroups: [{{ include "controllerCrdGroup" . | quote }}]
  resources: ["analytics"]
  verbs: ["*"]
- apiGroups: [""]
  resources: ["events"]
  verbs: ["create"]
---

apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: analytics-operator
  namespace: {{ include "controller_ns" . }}
subjects:
- kind: ServiceAccount
  name: analytics-operator
  namespace: {{ include "controller_ns" . }}
  apiGroup: ""
roleRef:
  kind: Role
  name: analytics-operator
  apiGroup: rbac.authorization.k8s.io
---
{{- if eq (include "areWeSubchart" .) "true" -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: analytics-backend-operator
  namespace: {{ include "controller_ns" . }}
subjects:
- kind: ServiceAccount
  name: analytics-operator
  namespace: {{ include "controller_ns" . }}
  apiGroup: ""
roleRef:
  kind: ClusterRole
  name: {{ .Release.Name }}-backend-role
  apiGroup: rbac.authorization.k8s.io
{{- end }}
---

apiVersion: v1
kind: ServiceAccount
metadata:
  name: analytics-operator
  namespace: {{ include "controller_ns" . }}
