apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ .Release.Name }}-analytics-operator
rules:
# - apiGroups: ["apiextensions.k8s.io"]
#   resources: ["customresourcedefinitions"]
#   verbs: ["create"]
- apiGroups: [{{ include "controllerCrdGroup" . | quote }}]
  resources: ["analytics"]
  verbs: ["*"]
- apiGroups: [""]
  resources: ["events"]
  verbs: ["create"]
---

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ .Release.Name }}-analytics-operator-rolebinding
subjects:
- kind: ServiceAccount
  name: analytics-operator
  namespace: {{ include "controller_ns" . }}
  apiGroup: ""
roleRef:
  kind: ClusterRole
  name: analytics-operator
  apiGroup: rbac.authorization.k8s.io
---
{{- if eq (include "areWeSubchart" .) "true" -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ .Release.Name }}-analytics-backend-operator-rolebinding
subjects:
- kind: ServiceAccount
  name: analytics-operator
  namespace: {{ include "controller_ns" . }}
  apiGroup: ""
roleRef:
  kind: ClusterRole
  name: {{ .Release.Name }}-backend-role
  apiGroup: rbac.authorization.k8s.io
{{- end }}
---

apiVersion: v1
kind: ServiceAccount
metadata:
  name: analytics-operator
  namespace: {{ include "controller_ns" . }}
